.grow
{
    transition: ease-in-out 0.2s;
}

.grow:hover
{
    transition: ease-in-out 0.2s;
    scale: 110%;
}
.piros {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
   font-weight: bold;
}
body {
    background-color: rgb(20, 20 , 20);
    margin:0px;
}

